/*
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

#gotop {
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgba(230, 200, 200, 0.75);
    color: #444440;
    cursor: pointer;
    z-index: 1000;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#000000;
  background-color:#f4f7f8;
}

h1 {
  font-size:4em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #000000;
}


.container th h1 {
	  font-weight: bold;
	  font-size: 2em;
    text-align: center;
    color: #000000;
}

.container td {
	  font-weight: normal;
	  font-size: 2em;
    text-align: center;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	     -moz-box-shadow: 0 2px 2px -2px #0E1119;
	          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
    padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #efffc1;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #e9ffaa;
}

/*類別背景*/
.container th {
	  background-color: #def796;
}

.container td:first-child { color: #685656; }

/*每列色彩*/
.container tr:hover {
   background-color: #f7f585;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}
/*碰到放大色彩*/
.container td:hover {
  background-color: #ffcea5;
  color: #403E10;
  font-weight: bold;

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 1000px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
