<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <!-- <link rel="stylesheet" href="jqueryui/style.css"> -->
</head>


<body>
  <form action="." method="POST" name="form1">
    {% csrf_token %}
    <table border="1" cellspacing="1" cellpadding="4">
      <tr>
        <td><input type="text" class="datepicker" name="start" /></td>
        <td><input type="text" class="datepicker" name="end" /></td>
      </tr>
      <tr>
        <th colspan="2" align="center">
          <input type="submit" name="button" id="button" value="送出"></th>
      </tr>
    </table>
  </form>
  <script src="{% static "javascript/home.js" %}"></script>
</body>

</html>
