<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>Experiment with Bokeh</title>
  {% load staticfiles %}
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css" rel="stylesheet" type="text/css">

  <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
  <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

  <ul>
    <a id="mds_1">1</a>
    <a id="mds_2">2</a>
    <a id="mds_3">3</a>
    <a id="mds_4">4</a>
    <a id="mds_5">5</a>
    <a id="mds_6">6</a>
    <a id="mds_7">7</a>
    <a id="mds_8">8</a>
    <a id="mds_9">9</a>
    <a id="mds_10">10</a>
    <a id="mds_11">11</a>
    <a id="mds_12">12</a>
  </ul>

  <div class="" id="mds" size="700" width="700">
    {{ div_mds|safe }}
    {{ script_mds|safe }}
  </div>

  {{ div_profit|safe }}
  {{ script_profit|safe }}
  <script src="{% static "javascript/test.js" %}"></script>
</body>

</html>
