<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>Test</title>
  {% load staticfiles %}
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css" rel="stylesheet" type="text/css">

  <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
  <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

  <div class="" id="profit" size="700" width="700">
    {{ div_profit|safe }}
    {{ script_profit|safe }}
  </div>

  <div class="" id="mds" size="700" width="700">
    {{ div_mds|safe }}
    {{ script_mds|safe }}
  </div>

  <script src="{% static "javascript/test.js" %}"></script>
</body>

</html>
